{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "TinyAppDemo",
  "copy": true,
  "targets": {
    "TinyAppDemo": {
      "author": "quinn",
      "time": "20180723 23:14:23",
      "versions": {
        "APMobileNetwork": "10.1.18",
        "MPShareKit": "3.0.1",
        "MPScanCode": "10.1.15",
        "AutoTracker": "3.0.0",
        "NebulamPaaSBiz": "3.0.8",
        "MPDataCenter": "10.1.12",
        "APLog": "3.0.1",
        "APMobileFramework": "10.1.20",
        "AlipaySDK": "3.0.0",
        "APOpenSSL": "10.1.18",
        "SecurityGuardSDK": "5.3.85",
        "BeeHive": "10.1.15",
        "MPBadgeService": "3.0.0",
        "MPMultimedia": "1.0.7",
        "APSecurityUtility": "1.2.0",
        "NebulaHeader": "10.1.10",
        "MPCommonUI": "10.1.15",
        "APMobileLBS": "3.0.1",
        "MPHotpatchSDK": "3.0.0",
        "Nebula": "10.1.29",
        "MPSyncService": "10.1.10",
        "APProtocolBuffers": "1.0.2",
        "MPAnalysis": "1.1.0",
        "mPaas": "10.1.11",
        "APRemoteLogging": "10.1.18",
        "SocketCraft": "10.1.12",
        "APMap": "10.1.10",
        "APConfig": "1.0.1",
        "NebulaLogging": "2.0.0",
        "TinyApp": "10.1.12",
        "UTDID": "3.0.0"
      },
      "baseline": {
        "APMobileNetwork": "4.1.0",
        "MPShareKit": "4.1.0",
        "MPScanCode": "4.1.0",
        "AutoTracker": "4.1.0",
        "NebulamPaaSBiz": "4.1.0",
        "MPDataCenter": "4.1.0",
        "APLog": "4.1.0",
        "APMobileFramework": "4.1.0",
        "AlipaySDK": "4.1.0",
        "APOpenSSL": "4.1.0",
        "SecurityGuardSDK": "4.1.0",
        "BeeHive": "4.1.0",
        "MPBadgeService": "4.1.0",
        "MPMultimedia": "4.1.0",
        "APSecurityUtility": "4.1.0",
        "NebulaHeader": "4.1.0",
        "MPCommonUI": "4.1.0",
        "APMobileLBS": "4.1.0",
        "MPHotpatchSDK": "4.1.0",
        "Nebula": "4.1.0",
        "MPSyncService": "4.1.0",
        "APProtocolBuffers": "4.1.0",
        "MPAnalysis": "4.1.0",
        "mPaas": "4.1.0",
        "APRemoteLogging": "4.1.0",
        "SocketCraft": "4.1.0",
        "APMap": "4.1.0",
        "APConfig": "4.1.0",
        "NebulaLogging": "4.1.0",
        "TinyApp": "4.1.0",
        "UTDID": "4.1.0"
      },
      "frameworks": [
        "APMobileNetwork.framework",
        "MPShareKit.framework",
        "TBDecodeSDK.framework",
        "TBScanSDK.framework",
        "AutoTracker.framework",
        "NebulamPaaSBiz.framework",
        "MPDataCenter.framework",
        "APLog.framework",
        "APMobileFramework.framework",
        "AlipaySDK.framework",
        "APOpenSSL.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "BEEAudioUtil.framework",
        "BeeCapture.framework",
        "BeeCityPicker.framework",
        "BeeMediaPlayer.framework",
        "BeePhotoBrowser.framework",
        "BeePhotoPicker.framework",
        "MPBadgeService.framework",
        "APIJKPlayer.framework",
        "APMAudioProcessing.framework",
        "APMBeauty.framework",
        "APMCache.framework",
        "APMImageProcessing.framework",
        "APMLive.framework",
        "APMTaskManager.framework",
        "APMultimedia.framework",
        "APMUtils.framework",
        "APWebImage.framework",
        "APWebP.framework",
        "FalconLooks.framework",
        "MASSChannel.framework",
        "MASSProxy.framework",
        "MPFalcon.framework",
        "APSecurityUtility.framework",
        "NebulaHeader.framework",
        "APCommonUI.framework",
        "AntUI.framework",
        "AntUIShellForMpass.framework",
        "APMobileLBS.framework",
        "MAMapKit.framework",
        "AMapFoundationKit.framework",
        "MPHotpatchSDK.framework",
        "NebulaAppManager.framework",
        "NebulaPoseidon.framework",
        "NebulaSDK.framework",
        "APLongLinkService.framework",
        "APProtocolBuffers.framework",
        "MPAnalysis.framework",
        "mPaas.framework",
        "APRemoteLogging.framework",
        "SocketCraft.framework",
        "APMap.framework",
        "APConfig.framework",
        "NebulaLogging.framework",
        "NebulaAppBiz.framework",
        "NebulaBiz.framework",
        "NebulamPaaSPlugins.framework",
        "NebulaSDKPlugins.framework",
        "NebulaTinyapp.framework",
        "TinyAppCommon.framework",
        "UTDID.framework"
      ],
      "resources": [
        "APMobileNetwork.bundle",
        "MPShareKit.bundle",
        "WeiboSDK.bundle",
        "TencentOpenApi_IOS_Bundle.bundle",
        "AlipaySDK.bundle",
        "BEEAudioUtil.bundle",
        "BeeCapture.bundle",
        "BeeCityPicker.bundle",
        "BeeMediaPlayer.bundle",
        "BeePhotoBrowser.bundle",
        "BeePhotoPicker.bundle",
        "APMultimedia.bundle",
        "APMUtils.bundle",
        "FalconLooks.bundle",
        "APCommonUI.bundle",
        "AMap.bundle",
        "DynamicDeployment.bundle",
        "NebulaAppManager.bundle",
        "NebulaPoseidon.bundle",
        "NebulaSDK.bundle",
        "NebulaAppBiz.bundle",
        "NebulaBiz.bundle",
        "NebulaPoseidonBase.bundle",
        "NebulaTinyapp.bundle"
      ]
    }
  },
  "recent": "TinyAppDemo"
}
