<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JsApiRuntime</key>
	<dict>
		<key>JsApis</key>
		<array>
			<dict>
				<key>name</key>
				<string>ChangeCodeJsApiHandler</string>
				<key>jsApi</key>
				<string>SCGetClientInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandlerGenieLinkStop</string>
				<key>jsApi</key>
				<string>genieForTaobaoStopLink</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandlerGenieLinkStart</string>
				<key>jsApi</key>
				<string>genieForTaobaoStartLink</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4FalconRecogIdCard</string>
				<key>jsApi</key>
				<string>Falcon.CardManager</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TinyLocalStorageSetJSAPIHandler</string>
				<key>jsApi</key>
				<string>setTinyLocalStorage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TinyLocalStorageGetJSAPIHandler</string>
				<key>jsApi</key>
				<string>getTinyLocalStorage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TinyLocalStorageRemoveJSAPIHandler</string>
				<key>jsApi</key>
				<string>removeTinyLocalStorage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TinyLocalStorageClearJSAPIHandler</string>
				<key>jsApi</key>
				<string>clearTinyLocalStorage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TinyLocalStorageGetInfoJSAPIHandler</string>
				<key>jsApi</key>
				<string>getTinyLocalStorageInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>APLogJsApiUploadLogHandler</string>
				<key>jsApi</key>
				<string>uploadLog</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NSJsApiHandler4EditImage</string>
				<key>jsApi</key>
				<string>editImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetSavedFileInfo</string>
				<key>jsApi</key>
				<string>getSavedFileInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4RemoveSavedFile</string>
				<key>jsApi</key>
				<string>removeSavedFile</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetSavedFileList</string>
				<key>jsApi</key>
				<string>getSavedFileList</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>connectSocket</string>
				<key>name</key>
				<string>NPJsApiHandler4WebSocketConnectSocket</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>sendSocketMessage</string>
				<key>name</key>
				<string>NPJsApiHandler4WebSocketSendMessage</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>closeSocket</string>
				<key>name</key>
				<string>NPJsApiHandler4WebSocketClose</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NBLogJsApiHandler4GetLogSDKInfo</string>
				<key>jsApi</key>
				<string>getLogSDKInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NBLogJsApiHandler4AutoClick</string>
				<key>jsApi</key>
				<string>autoClick</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4TAC</string>
				<key>jsApi</key>
				<string>trackerConfig</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NSJsApiHandler4ChooseImage</string>
				<key>jsApi</key>
				<string>chooseImage</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>chooseVideo</string>
				<key>name</key>
				<string>NSJsApiHandler4VideoCapture</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>BEEVideoCapture</string>
				<key>name</key>
				<string>NSJsApiHandler4VideoCapture</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>BEEPhotoCapture</string>
				<key>name</key>
				<string>NSJsApiHandler4PhotoCapture</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetAppInfo</string>
				<key>jsApi</key>
				<string>getAppInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetAllContacts</string>
				<key>jsApi</key>
				<string>getAllContacts</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetCities</string>
				<key>jsApi</key>
				<string>getCities</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4Scan</string>
				<key>jsApi</key>
				<string>scan</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4Photo</string>
				<key>jsApi</key>
				<string>photo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4UploadImage</string>
				<key>jsApi</key>
				<string>uploadImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4DownloadImage</string>
				<key>jsApi</key>
				<string>downloadImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4Mtop</string>
				<key>jsApi</key>
				<string>mtop</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4Login</string>
				<key>jsApi</key>
				<string>login</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4Contact</string>
				<key>jsApi</key>
				<string>contact</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetLocation</string>
				<key>jsApi</key>
				<string>getLocation</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetCurrentLocation</string>
				<key>jsApi</key>
				<string>getCurrentLocation</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4AlipayContact</string>
				<key>jsApi</key>
				<string>alipayContact</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetMtopToken</string>
				<key>jsApi</key>
				<string>getMtopToken</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4IsSpeechAvailable</string>
				<key>jsApi</key>
				<string>isSpeechAvailable</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4StartSpeech</string>
				<key>jsApi</key>
				<string>startSpeech</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4StopSpeech</string>
				<key>jsApi</key>
				<string>stopSpeech</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4CancelSpeech</string>
				<key>jsApi</key>
				<string>cancelSpeech</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4ContactSync</string>
				<key>jsApi</key>
				<string>contactSync</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4ChooseContact</string>
				<key>jsApi</key>
				<string>chooseContact</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4ImageViewer</string>
				<key>jsApi</key>
				<string>imageViewer</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4Upload</string>
				<key>jsApi</key>
				<string>upload</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4RegisterSync</string>
				<key>jsApi</key>
				<string>registerSync</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4UnregisterSync</string>
				<key>jsApi</key>
				<string>unregisterSync</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4ResponseSyncNotify</string>
				<key>jsApi</key>
				<string>responseSyncNotify</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4RefreshSyncSkey</string>
				<key>jsApi</key>
				<string>refreshSyncSkey</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4BindTB</string>
				<key>jsApi</key>
				<string>bindTB</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetAppToken</string>
				<key>jsApi</key>
				<string>getAppToken</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4H5CommonList</string>
				<key>jsApi</key>
				<string>commonList</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4CaculatorImageColor</string>
				<key>jsApi</key>
				<string>imageColor</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4OilPaintImage</string>
				<key>jsApi</key>
				<string>paintImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4CaculatorImageComplexity</string>
				<key>jsApi</key>
				<string>imageComplexity</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsAPIHandler4ImageBuildUrl</string>
				<key>jsApi</key>
				<string>buildUrl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4Share</string>
				<key>jsApi</key>
				<string>share</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4Share</string>
				<key>jsApi</key>
				<string>startShare</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4ShareToChannel</string>
				<key>jsApi</key>
				<string>shareToChannel</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TSJsApi4GetSystemInfoImp</string>
				<key>jsApi</key>
				<string>getSystemInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4HideKeyboard</string>
				<key>jsApi</key>
				<string>hideKeyboard</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4SaveFile</string>
				<key>jsApi</key>
				<string>saveFile</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4DownloadFile</string>
				<key>jsApi</key>
				<string>downloadFile</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4UploadFile</string>
				<key>jsApi</key>
				<string>uploadFile</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TSJsApi4GetSystemInfoImp</string>
				<key>jsApi</key>
				<string>getSystemInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4NBDebugSwitch</string>
				<key>jsApi</key>
				<string>NBDebugSwitch</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4ABTest</string>
				<key>jsApi</key>
				<string>ABTestExperimentList</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4ABTestRoute</string>
				<key>jsApi</key>
				<string>ABTestExperimentParam</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4AudioRecord</string>
				<key>jsApi</key>
				<string>startAudioRecord</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4StopAudioRecord</string>
				<key>jsApi</key>
				<string>stopAudioRecord</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4CancelAudioRecord</string>
				<key>jsApi</key>
				<string>cancelAudioRecord</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4UploadAudio</string>
				<key>jsApi</key>
				<string>uploadAudio</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4AudioPlay</string>
				<key>jsApi</key>
				<string>startPlayAudio</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4PauseAudioPlay</string>
				<key>jsApi</key>
				<string>pauseAudioPlay</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4ResumeAudioPlay</string>
				<key>jsApi</key>
				<string>resumeAudioPlay</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4StopAudioPlay</string>
				<key>jsApi</key>
				<string>stopAudioPlay</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4CompressVideo</string>
				<key>jsApi</key>
				<string>compressVideo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4UploadVideo</string>
				<key>jsApi</key>
				<string>uploadVideo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApi4RegisterWorker</string>
				<key>jsApi</key>
				<string>registerWorker</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApi4PostMessage</string>
				<key>jsApi</key>
				<string>postMessage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4OpenLocation</string>
				<key>jsApi</key>
				<string>openLocation</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4APLog</string>
				<key>jsApi</key>
				<string>H5APLog</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4PerformanceMonitor</string>
				<key>jsApi</key>
				<string>performanceMonitor</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4NBComponentRender</string>
				<key>jsApi</key>
				<string>NBComponent.render</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4NBComponentRender</string>
				<key>jsApi</key>
				<string>NBComponent.render</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4NBComponentSendMessage</string>
				<key>jsApi</key>
				<string>NBComponent.sendMessage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4NBComponentRemove</string>
				<key>jsApi</key>
				<string>NBComponent.remove</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4AuthGuide</string>
				<key>jsApi</key>
				<string>showAuthGuide</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4AuthStatus</string>
				<key>jsApi</key>
				<string>getAuthStatus</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PSDJsApiHandler4CompositeImage</string>
				<key>jsApi</key>
				<string>compositeImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetCameraAuthorizedStatus</string>
				<key>jsApi</key>
				<string>getCameraAuthorizedStatus</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4CompressImage</string>
				<key>jsApi</key>
				<string>compressImage</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4GetTitleAndStatusbarHeight</string>
				<key>jsApi</key>
				<string>getTitleAndStatusbarHeight</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4CaptureForIndustry</string>
				<key>jsApi</key>
				<string>CaptureForIndustry</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>UpdateCaptureUI</string>
				<key>name</key>
				<string>NPJsApiHandler4UpdateCaptureUI</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4StartXMedia</string>
				<key>jsApi</key>
				<string>startXMedia</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4StopXMedia</string>
				<key>jsApi</key>
				<string>stopXMedia</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4NBComponentSetData</string>
				<key>jsApi</key>
				<string>NBComponent.setData</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4AudioPlayerPlay</string>
				<key>jsApi</key>
				<string>audioPlayerPlay</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PSDJsApiHandler4AudioPlayerCreate</string>
				<key>jsApi</key>
				<string>audioPlayerCreate</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PSDJsApiHandler4AudioPlayerDestroy</string>
				<key>jsApi</key>
				<string>audioPlayerDestroy</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PSDJsApiHandler4AudioPlayerPrepare</string>
				<key>jsApi</key>
				<string>audioPlayerPrepare</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PSDJsApiHandler4AudioPlayerPause</string>
				<key>jsApi</key>
				<string>audioPlayerPause</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApi4WebAR</string>
				<key>jsApi</key>
				<string>initWebAR</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ZimJSApiAdapter</string>
				<key>jsApi</key>
				<string>zimIdentity</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4InstallApp</string>
				<key>jsApi</key>
				<string>installApp</string>
			</dict>
			<dict>
				<key>name</key>
				<string>JsApiHandler4CoolLoadingControl</string>
				<key>jsApi</key>
				<string>coolLoadingCtrl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4FalconAIRec</string>
				<key>jsApi</key>
				<string>FalconAIRec</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4FalconAIModify</string>
				<key>jsApi</key>
				<string>FalconAIModify</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4SetShowShareMenu</string>
				<key>jsApi</key>
				<string>setShowShareMenu</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAJsApiHandler4RequestTemplateData</string>
				<key>jsApi</key>
				<string>requestTemplateData</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAJsApiHandler4InternalAPI</string>
				<key>jsApi</key>
				<string>internalAPI</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAJsApiHandler4GetWifiInfo</string>
				<key>jsApi</key>
				<string>getWifiInfo</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>sendUdpMessage</string>
				<key>name</key>
				<string>NPJsApiHandler4SendUdpMessage</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>getSSID</string>
				<key>name</key>
				<string>NPJsApiHandler4GetWifi</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>getLifestyleInfo</string>
				<key>name</key>
				<string>TAJsApiHandler4GetLifeStyleInfo</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>iotCreateService</string>
				<key>name</key>
				<string>TAJsApiHandler4IotCreateService</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>iotCheckService</string>
				<key>name</key>
				<string>TAJsApiHandler4IotCheckService</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4DownloadFileWithMutimediaID</string>
				<key>jsApi</key>
				<string>downloadMFile</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPJsApiHandler4OnAppPerfEvent</string>
				<key>jsApi</key>
				<string>onAppPerfEvent</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PSDJsApiHandler4DecodeApmlPath</string>
				<key>jsApi</key>
				<string>decodeApmlPath</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAJsApiHandler4GetImageInfo</string>
				<key>jsApi</key>
				<string>getImageInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAJsApiHandler4GetFileInfo</string>
				<key>jsApi</key>
				<string>getFileInfo</string>
			</dict>
			<dict>
				<key>name</key>
				<string>APDapJSAPIHandler</string>
				<key>jsApi</key>
				<string>dapControl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAJsApiHandler4GetShareImageUrl</string>
				<key>jsApi</key>
				<string>getShareImageUrl</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAJsApiHandler4NavigateToMiniProgram</string>
				<key>jsApi</key>
				<string>navigateToMiniProgram</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAJsApiHandler4NavigateBackMiniProgram</string>
				<key>jsApi</key>
				<string>navigateBackMiniProgram</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAJsApiHandler4GetAppType</string>
				<key>jsApi</key>
				<string>getAppType</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TAJsApiHandler4TextRiskIdentification</string>
				<key>jsApi</key>
				<string>textRiskIdentification</string>
			</dict>
			<dict>
				<key>jsApi</key>
				<string>sendSMS</string>
				<key>name</key>
				<string>MTJsApiHandler4OpenSms</string>
			</dict>
		</array>
	</dict>
	<key>PluginRuntime</key>
	<dict>
		<key>Plugins</key>
		<array>
			<dict>
				<key>name</key>
				<string>TAPlugin4TradpayMonitor</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4CoolLoadingView</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBPlugin4StockLog</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4MSSDK</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4TinyAppPerformance</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4TinyAppLifeCycle</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4JSCCallHandler</string>
				<key>scope</key>
				<string>service</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4DTScheme</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBLogPlugin4SPM</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4Session</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<string>NO</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4BindVariables</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene.create</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4Toolbar</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4Location</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>scene.load</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>PromotionJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>O2OJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PluginTFShareWithCopyMgr</string>
			</dict>
			<dict>
				<key>name</key>
				<string>EmotionJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>APConfigServiceJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>APSocialNebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>RealNameJSPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ShareTokenJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>MTH5MonitorPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>VIJSApiAdapter</string>
			</dict>
			<dict>
				<key>name</key>
				<string>APABTestJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>LocationPickerJSPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>SPSafePayJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>APRewardNebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Plugin4SCWebView</string>
			</dict>
			<dict>
				<key>name</key>
				<string>SocialPublishFeedNebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>APGSearchJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>CityRegionPickerJSPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>OPAppManagerJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4ContinuousLocation</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>SocialPublishRouteNebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ANXOfflinePayH5NebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4LocalResource</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4AppPkgResource</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NBDebugPluginHook</string>
			</dict>
			<dict>
				<key>name</key>
				<string>BeeAudioPlayerJSPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>SocialCommentNebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>FingerprintJSApiAdaptor</string>
			</dict>
			<dict>
				<key>name</key>
				<string>APStepCountJSPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>MFFavoriteNebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>APBLENebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PublicPlatformJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>SocialRemindNebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>PublicPlatformNBH5PlugIn</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBPlugin4NBComonent</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4IOTProvision</string>
				<key>scope</key>
				<string>scene</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>TSPlugin4SessionBindVariables</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>TSPlugin4JsApiPermission</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>NBPlugin4TinyAppParam</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NPPlugin4URLSession</string>
				<key>scope</key>
				<string>session</string>
				<key>events</key>
				<array>
					<dict>
						<key>name</key>
						<string>-</string>
						<key>useCapture</key>
						<false/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>AntUIShellJSPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ANXOfflinePayCryptoH5NebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>StartThridPartyAppService</string>
			</dict>
			<dict>
				<key>name</key>
				<string>HPHomeJsPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>NewYearNebulaPlugin</string>
			</dict>
			<dict>
				<key>name</key>
				<string>GWNebulaPlugin</string>
			</dict>
		</array>
	</dict>
	<key>ComponentRuntime</key>
	<dict>
		<key>Components</key>
		<array>
			<dict>
				<key>name</key>
				<string>NBComponentTest</string>
				<key>component</key>
				<string>map</string>
			</dict>
			<dict>
				<key>name</key>
				<string>TNNativeComponent</string>
				<key>component</key>
				<string>TINY-COMPONENT</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ant3DH5Contact</string>
				<key>component</key>
				<string>Ant3D</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
